doctype html 
html(lang="en") 
  head 
    meta(charset="utf-8") 
    meta(name="viewport" , content="width=device-width , initial-scale=1.0") 
    meta(name="description" content="Login to your Tidio-Clone account")
    meta(name="keyword" content="Login to your Tidio-Clone account")
    meta(property="og:type" content="website")
    meta(property="og:url" content="https://drewallet.com/")
    meta(property="og:site_name" content="Drewallet")
    meta(property="og:title" content="Login to your Tidio-Clone account")
    meta(property="og:description" content="DreWallet is a user friendly exchange platform, aimed at delivering the best exchange services. We currently buy various gift cards & crypto assets at the best market rate.")
    meta(name="twitter:card" content="summary")
    meta(name="twitter:title" content="Tidio-Clone")
    meta(name="twitter:description" content="Login to your Tidio-Clone account")
    meta(property="web-app-capable" content="yes")
    meta(name="theme-color" content="#03011f")
    meta(name="robots" content="no-follow")
    meta(name="application-name" content="Tidio-Clone")
    title= title
    link(href="/plugins/animate/animate.min.css" rel="stylesheet")
    link(rel='stylesheet' , href='/plugins/bootstrap/css/bootstrap.min.css')
    script(src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous")