include includes/header.pug
block content
  link(rel='stylesheet' , href='/stylesheets/style.css')
  body
      div(class="container-fluid")
        div(class="row")
            div(class="col-lg-5 left-side-content")
                img(src='/images/tidio.svg' width='120px' height='40px' class='mt-5')
                div.left
                    p.account_text.pb-4 Don't
                        br 
                        | have an 
                        br
                        | account?
                    a(href='/register' class="left-content-btn mt-5") Creat a Free Account
            div(class="col-lg-7")
              .row
                div(class="col-2")
                div(class="col-8")
                    div(class="right-side-container")
                      div(class="form_container")
                        div(class="form_content")
                        p(class="form_header pb-3 mt-4") Log In
                        if error 
                          span.formAlert.form-alertError
                        div.mt-3
                          a(href="/auth/google/" class="google_btn mt-4" width="20px") Login with Google
                        div.form_spacer.mt-5
                            span(class="form_spacerLabel text-center form__pageLink form__pageLink--inFooter") or
                        form(method="POST" class="mt-4 text-center")
                          input(type="text" name="email" placeholder="Email" class="login_form input-control input_text" id="email") 
                          div(class='input-group' id='show_hide_password')
                            input(type="password" name="password" placeholder="Password" class="login_form input-control mt-3 input_text" id="password")
                            div.input-group-addon
                                a(href='')
                                    i(class='fa fa-eye-slash ' arai-hidden='true')
                          p(class='formAlert form-alertError' id='response-register') #{error}
                          div(class=" mb-5")
                            button(type="submit" class="form_button mt-4 validate") Login
                        
                        a(class="form__pageLink form__pageLink--inFooter" href="/panel/forgot-password") Forgot password?
                           
                div(class="col-2")
    
        script(src="/javascripts/jquery.min.js")
        script(src="/javascripts/showPassword.js")

                
