include includes/header.pug
block content
  link(rel='stylesheet' , href='/stylesheets/style.css')
  body
      div(class="container-fluid")
        div(class="row")
            div(class="col-lg-5 left-side-content")
                p.account_text.pb-4 Don't
                    br 
                    | have an 
                    br
                    | account?
                a(href='' class="left-content-btn mt-5") Creat a Free Account
            div(class="col-lg-7")
              .row
                div(class="col-2")
                div(class="col-8")
                    div(class="right-side-container")
                      div(class="form_container")
                        div(class="form_content")
                        p(class="form_header pb-3 mt-4") Log In
                        div.mt-3
                          a(href="/auth/google/" class="google_btn mt-4" width="20px") Login with Google
                        div.form_spacer.mt-5
                            span(class="form_spacerLabel text-center form__pageLink form__pageLink--inFooter") or
                        form(method="POST" class="mt-4")
                          input(type="text" name="userName" placeholder="Email" class="login_form input-control input_text" id="userName") 
                          input(type="password" name="password" placeholder="Password" class="login_form input-control mt-3 input_text" id="password") 
                          div(class="form_button mb-5")
                            button(type="submit" class="form_button mt-4") Login
                        
                        a(class="form__pageLink form__pageLink--inFooter" href="/panel/forgot-password") Forgot password?